{% extends "shop/layout.html" %}

{% block content %}
    <form action="" method ="GET">
        <input type= "text" name ="word" value = "{{ word }}" />
        <input type= "submit" value="search" />
    </form>
    <ul>
        {% for item in items %}
            <li>
                <!-- <a href="/shop/{{item.pk}}"> -->
                <a href="{{item.get_absolute_url}}">
                {{item.name}}
                </a>
                {{item.price}}
                {{item.desc}}
            </li>
        {% endfor %}
    </ul>    
{% endblock %}

